*{
	margin:0;
	padding: 0;
}
body{
	width: 100%;
	min-width: 1366px;
}
.container{
	border: 1px solid #000;
	width: 50%;
	padding: 5%;
	text-align: center;
	margin-left: 20%;
	margin-top: 20px;
}
.catalogue{
	font-weight: bold;
	text-align: left;
}
table td{
	width:150px;
	text-align: right;
}
.container td input{
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	border-bottom-color: black;
}
#submit{
	margin-right: 80px;
	width: 70px;
}
#reset{
	margin-top: 40px;
	width: 70px;
}